<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<location path="Frames.aspx">
		<system.web>
			<authorization>
				<allow users="bmi\Frames1" />
			</authorization>
		</system.web>
	</location>
	<location path="BoatsCompleted.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSAllBenningtonUsers" users="" />
			</authorization>
		</system.web>
	</location>
	<location path="Frames-RO.aspx">
		<system.web>
			<authorization>
				<allow users="bmi\tubes1" />
				<allow users="bmi\arb" />
				<allow users="bmi\bfenster" />
				<allow users="bmi\tfolker" />
				<allow users="*" />
				<allow users="bmi\jvogel" />
				<allow users="bmi\khamby" />
				<allow users="bmi\tmeier" />
				<allow users="bmi\teekhoff" />
				<allow users="bmi\jdn" />
				<allow users="bmi\kburch" />
				<allow users="*" />
				<allow users="?" />
				<allow users="bmi\kbruens" />
			</authorization>
		</system.web>
	</location>
	<location path="BoatsOnline.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSAllBenningtonUsers" users="" />
			</authorization>
		</system.web>
	</location>
	<location path="Floors.aspx">
		<system.web>
			<authorization>
				<allow users="bmi\Floors1" />
				<allow users="bmi\bmagyar" />
			</authorization>
		</system.web>
	</location>
	<location path="Rails.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSRails" />
			</authorization>
		</system.web>
	</location>
	<location path="Furniture.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSFurniture" />
			</authorization>
		</system.web>
	</location>
	<location path="Helms.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSHelms" />
			</authorization>
		</system.web>
	</location>
	<location path="Cleaning.aspx">
		<system.web>
			<authorization>
				<allow roles="polarisind\elk1_SPECSInspection" />
				<allow roles="polarisind\elk1_SPECSShrinkwrap" />
			</authorization>
		</system.web>
	</location>
	<location path="HelmBuild.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSHelms" />
				<allow users="polarisind\MatthCyr" />
			</authorization>
		</system.web>
	</location>
	<location path="Shrinkwrap.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSShrinkWrap" />
			</authorization>
		</system.web>
	</location>
	<location path="Wavetamer.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSWavetamer" />
				<allow users="polarisind\btrosp" />
			</authorization>
		</system.web>
	</location>
	<location path="Sharkhide.aspx">
		<system.web>
			<authorization>
				<allow roles="polarisind\elk1_SPECSSharkhide" />
			</authorization>
		</system.web>
	</location>
	<location path="Final.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSFinalInspection" />
			</authorization>
		</system.web>
	</location>
	<location path="BuildOptions.aspx">
		<system.web>
			<authorization>
			</authorization>
		</system.web>
	</location>
	<location path="Rigging.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSRigging" />
				<allow users="polarisind\bspeed" />
				<allow users="Polarisind\tmeier" />
				<allow users="polarisind\kkimbr" />
			</authorization>
		</system.web>
	</location>
	<location path="RedTagRO.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSAllBenningtonUsers" users="" />
			</authorization>
		</system.web>
	</location>
	<location path="RedTag.aspx">
		<system.web>
			<authorization>
				<allow users="bmi\Furniture1" />
				<allow users="bmi\kburch" />
				<allow users="bmi\bgirten" />
				<allow users="bmi\shrinkwrap1" />
				<allow users="bmi\wavetamer1" />
				<allow users="bmi\msmith" />
				<allow users="bmi\bmagyar" />
				<allow users="bmi\final1" />
				<allow roles="Polarisind\elk1_SPECSRedTags" />
			</authorization>
		</system.web>
	</location>
	<location path="South.aspx">
		<system.web>
			<authorization>
			</authorization>
		</system.web>
	</location>
	<location path="RedTagRGAStatusUpdate.aspx">
		<system.web>
			<authorization>
				<allow users="bmi\bgirten" />
				<allow users="bmi\furniture1" />
				<allow users="bmi\kburch" />
				<allow roles="Polarisind\elk1_SpecsRedTags" />
			</authorization>
		</system.web>
	</location>
	<location path="RailsSouth.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSRails" />
				<allow roles="BMI\SPECSSouthAllAccess" />
				<allow roles="polarisind\elk1_specssouthallaccess" />
			</authorization>
		</system.web>
	</location>
	<location path="BoatsOffline.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSBoatsOffline" />
			</authorization>
		</system.web>
	</location>
	<location path="HelmKitting.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSHelms" />
				<allow roles="polarisind\elk1_specshelmkitting" />
				<allow users="polarisind\dgirte" />
			</authorization>
		</system.web>
	</location>
	<location path="Gates.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSGates" />
			</authorization>
		</system.web>
	</location>
	<location path="Decks.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSSouthAllAccess" />
				<allow users="polarisind\specsfin1" />
				<allow roles="" users="polarisind\specsrail6" />
			</authorization>
		</system.web>
	</location>
	<location path="BringOnline.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSBringOnline" />
			</authorization>
		</system.web>
	</location>
	<location path="Pilots.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSAllBenningtonUsers" users="" />
				<allow users="polarisind\mmpotts" />
			</authorization>
		</system.web>
	</location>
	<location path="SouthWIP.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSSouthAllAccess" />
				<allow roles="polarisind\elk1_SPECSSouthWIP" />
			</authorization>
		</system.web>
	</location>
	<location path="BoatsOfflineRO.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSAllBenningtonUsers" users="" />
			</authorization>
		</system.web>
	</location>
	<location path="SidelineETA.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSSidelineETAs" />
				<allow users="polarisind\dszabo" />
			</authorization>
		</system.web>
	</location>
	<location path="SouthWipRO.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSAllBenningtonUsers" users="" />
			</authorization>
		</system.web>
		<system.webServer>
			<security>
				<authorization>
					<add accessType="Allow" users="bmi\rails2" />
				</authorization>
			</security>
		</system.webServer>
	</location>
	<location path="Floors-RO.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
				<allow users="bmi\kbruens" />
			</authorization>
		</system.web>
	</location>
	<location path="DecksNoRails.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSRails" />
			</authorization>
		</system.web>
	</location>
	<location path="HelmBuildSheet.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSHelms" />
			</authorization>
		</system.web>
	</location>
	<location path="Biminis.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSBiminis" />
				<allow roles="bmi\SPECSBiminis" />
			</authorization>
		</system.web>
	</location>
	<location path="SouthWipRO.aspx.vb">
		<system.webServer>
			<security>
				<authorization>
					<add accessType="Allow" users="bmi\rails2" />
				</authorization>
			</security>
		</system.webServer>
	</location>
	<location path="FurniturePickList.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSFurniturePickList" />
			</authorization>
		</system.web>
	</location>
	<location path="BiminiLabel.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSBiminis" />
			</authorization>
		</system.web>
	</location>
	<location path="RailsSouthRO.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSAllBenningtonUsers" users="" />
			</authorization>
		</system.web>
	</location>
	<location path="Flooring.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSFloors" />
				<allow users="polarisind\MatthCyr" />
			</authorization>
		</system.web>
	</location>
	<location path="Trim.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSTrim" />
			</authorization>
		</system.web>
	</location>
	<location path="Flooring-RO.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSAllBenningtonUsers" users="" />
			</authorization>
		</system.web>
	</location>
	<location path="Bimini_Feet.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSBiminis" />
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="EditBiminiFeetDimensions.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSRails" />
				<allow users="Polarisind\zsprin" />
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="RigABoatICantSee.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSRigging" />
			</authorization>
		</system.web>
	</location>
	<location path="FurnitureSouth.aspx">
		<system.web>
			<authorization>
				<allow users="polarisind\specsfin2" />
			</authorization>
		</system.web>
	</location>
	<location path="HelmsSouth.aspx">
		<system.web>
			<authorization>
				<allow users="polarisind\specsfin2" />
				<allow roles="Polarisind\elk1_SPECSSouthAllAccess" />
			</authorization>
		</system.web>
	</location>
	<location path="HelmsMain.aspx">
		<system.web>
			<authorization>
				<allow roles="Polarisind\elk1_SPECSHelms" users="" />
			</authorization>
		</system.web>
	</location>
	<location path="PrePaidBackOrder.aspx">
		<system.web>
			<authorization>
				<allow roles="polarisind\elk1_SPECSRedTags" users="" />
			</authorization>
		</system.web>
	</location>
</configuration>
