
        .newStyle1 {
            font-family: Calibri;
            font-size: 14px;
        }
        .newStyle2 {
            font-family: Calibri;
            font-weight: bold;
            font-size: 16px;
        }
        .auto-style1 {
            font-family: Calibri;
            text-align: left;
        }
        .auto-style2 {
            font-family: Calibri;
            text-align: left;
        }

