<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="notes1.png">
        <system.web>
            <authorization>
                <allow users="bmi\final2" />
            </authorization>
        </system.web>
    </location>
    <system.web>
        <authorization>
            <allow roles="polarisind\elk1_SPECSInspections" />
        </authorization>
    </system.web>
</configuration>
