<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;Url=../Charts/;privateImages=false;"/>
  </appSettings>
  <connectionStrings>
    <add name="dataConnectionString" connectionString="Data Source=SQLPRDMACOLA;Initial Catalog=LIVE;Persist Security Info=True;User ID=sqlro;Password=8Jc%2hbUX2" providerName="System.Data.SqlClient"/>
    <add name="dataConnectionString2" connectionString="Data Source=SQLPRDMACOLA;Initial Catalog=LIVE;Persist Security Info=True;User ID=BM;Password=Pb0@ts" providerName="System.Data.SqlClient"/>
    <add name="bml_dataConnectionString" connectionString="Data Source=ELK1ITSSQL002;Initial Catalog=sqlprod;Persist Security Info=True;User ID=BM;Password=Pb0@ts" providerName="System.Data.SqlClient"/>
    <add name="BML_dataConnectionStringSQLCLUSTER" connectionString="Data Source=SQLCLUSTER;Initial Catalog=BML_data;User ID=CR" providerName="System.Data.SqlClient"/>
    <add name="SPECS_ExternalConnectionString" connectionString="server=ben.c0fnidwvz1hv.us-east-1.rds.amazonaws.com;user id=specs;password=CD$[v9ZW;persistsecurityinfo=True;database=SPECS_External" providerName="MySql.Data.MySqlClient"/>
    <add name="PDI_ExternalConnectionString" connectionString="server=ben.c0fnidwvz1hv.us-east-1.rds.amazonaws.com;user id=PDI;password=SuSM-_we8C;persistsecurityinfo=True;database=PDI" providerName="MySql.Data.MySqlClient"/>
    <add name="VeadaMySQL_ReadOnly" connectionString="server=veada-mysql-082019.cz8vw0a6whxb.us-east-1.rds.amazonaws.com;user id=BennDataPartner;password=DISH4087sky$$;persistsecurityinfo=True;database=vea_0819_dbshare" providerName="MySql.Data.MySqlClient"/>
    <add name="SOPConnectionString" connectionString="Data Source=ELK1ITSSQL002;Initial Catalog=SOP;Persist Security Info=True;User ID=BM;Password=Pb0@ts" providerName="System.Data.SqlClient"/>
    <add name="InventoryConnectionString" connectionString="Data Source=ELK1ITSSQL001;Initial Catalog=Inventory;Persist Security Info=True;User ID=BM;Password=Pb0@ts" providerName="System.Data.SqlClient"/>
    <add name="BenningtonATTConnectionString" connectionString="Data Source=ELK1ITSSQL002;Initial Catalog=BenningtonATT;Persist Security Info=True;User ID=sqlro;Password=8Jc%2hbUX2" providerName="System.Data.SqlClient"/>
    <add name="ProductInfoConnectionString" connectionString="Data Source=ELK1ITSSQL002;Initial Catalog=ProductInfo;Persist Security Info=True;User ID=BM;Password=Pb0@ts" providerName="System.Data.SqlClient"/>
    <add name="BRAINConnString" connectionString="Data Source=elk1itssql002;Initial Catalog=BRAIN;User ID=BM;Password=Pb0@ts" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <compilation strict="false" explicit="true" targetFramework="4.5.1" debug="true">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.1"/>
    <customErrors mode="Off"/>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <authorization>
      <allow roles="Polarisind\elk1_SPECSAdmins"/>
      <allow roles="Polarisind\elk1_SPECSAllAccess"/>
      <deny users="*"/>
    </authorization>
  </system.web>
  <system.webServer>
    <httpRedirect enabled="false" destination="http://specs/Live/PopReporting"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <location path="FurniturePrep.aspx">
    <system.web>
      <authorization>
        <allow roles="" users="bmi\Furniture1"/>
        <allow users="bmi\bgirten"/>
        <allow users="bmi\kburch"/>
        <allow users="bmi\arb"/>
        <allow users="bmi\Furniture2"/>
        <allow users="bmi\furniture4"/>
        <allow users="bmi\sthorold"/>
        <allow roles="" users="bmi\eburch"/>
        <allow users="bmi\amccollough"/>
        <allow roles="polarisind\elk1_SPECSFurniture"/>
      </authorization>
    </system.web>
  </location>
  <location path="RailsPrep.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\rails1,bmi\rails2,bmi\mjones"/>
        <allow users="bmi\dbg"/>
        <allow users="bmi\jnafziger"/>
        <allow users="bmi\abona"/>
        <allow users="bmi\tleitz"/>
        <allow users="bmi\mszabo"/>
        <allow roles="polarisind\elk1_SPECSRailsAdmins"/>
        <allow roles="polarisind\elk1_SPECSRails"/>
      </authorization>
    </system.web>
  </location>
  <location path="FiberGlassPrep.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\akajzer"/>
        <allow users="bmi\bmagyar"/>
        <allow users="bmi\jnafziger"/>
        <allow users="bmi\hgirten"/>
        <allow users="bmi\salbert"/>
        <allow users="bmi\arb"/>
        <allow users="bmi\wreplogle"/>
        <allow roles="polarisind\elk1_SPECSFiberglass"/>
      </authorization>
    </system.web>
  </location>
  <location path="CoversPrep.aspx">
    <system.web>
      <authorization>
        <allow roles="polarisind\elk1_SPECSBCCanvas"/>
        <allow roles="polarisind\elk1_SPECSFurniture"/>
      </authorization>
    </system.web>
  </location>
  <location path="CenterTubes.aspx">
    <system.web>
      <authorization>
        <allow roles="polarisind\elk1_SPECSTubeAdmins"/>
        <allow roles="polarisind\elk1_sPECSBCTubesCenters" users=""/>
        <allow roles="polarisind\elk1_SPECSTubes"/>
        <allow roles="Polarisind\Elk1_SPECSTubes"/>
        <allow roles="Polarisind\specsfrm1"/>
      </authorization>
    </system.web>
  </location>
  <location path="Tubes.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\Tubes1"/>
        <allow users="bmi\bfenster"/>
        <allow users="bmi\dgorbics"/>
        <allow users="bmi\arb"/>
        <allow users="bmi\centertube1"/>
        <allow users="bmi\centertube2"/>
        <allow users="bmi\arb"/>
        <allow roles="polarisind\elk1_SPECSTubeAdmins"/>
        <allow roles="polarisind\elk1_SPECSTubes"/>
      </authorization>
    </system.web>
  </location>
  <location path="BoatNotes.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RedTags.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="BoatStatus.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Overview.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Overview-RO.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
        <allow users="bmi\arb"/>
        <allow users="bmi\jvogel"/>
      </authorization>
    </system.web>
  </location>
  <location path="ovtoolbar.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="toolsbar.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="OrderDetails.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="OverviewSearch.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
        <allow users="bmi\ahein"/>
        <allow users="bmi\abona"/>
        <allow users="bmi\bward"/>
        <allow users="bmi\csmith"/>
        <allow users="bmi\msmith"/>
        <allow users="bmi\jsw"/>
        <allow users="bmi\brf"/>
        <allow users="?"/>
        <allow users="bmi\krt"/>
        <allow users="bmi\final1"/>
        <allow users="bmi\final2"/>
        <allow users="bmi\furniture4"/>
        <allow users="bmi\jgarber"/>
        <allow users="bmi\mdamore"/>
      </authorization>
    </system.web>
  </location>
  <location path="CoversPrep-RO.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\akajzer"/>
        <allow users="bmi\arb"/>
        <allow users="*"/>
        <allow users="bmi\tleitz"/>
      </authorization>
    </system.web>
  </location>
  <location path="CenterTubes-RO.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="History.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
        <allow roles="polarisind\elk1_SPECSAllBenningtonUsers"/>
      </authorization>
    </system.web>
  </location>
  <location path="TubesLocation.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\bfenster"/>
        <allow users="bmi\tfolker"/>
        <allow users="bmi\Tubes1"/>
        <allow users="bmi\arb"/>
        <allow roles="polarisind\elk1_SPECSTubes"/>
        <allow roles="polarisind\elk1_SPECSTubeAdmins"/>
      </authorization>
    </system.web>
  </location>
  <location path="TubeSort.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\bfenster"/>
        <allow users="bmi\tfolker"/>
        <allow users="bmi\dbg"/>
        <allow roles="polarisind\elk1_SPECSTubeAdmins"/>
      </authorization>
    </system.web>
  </location>
  <location path="Loading.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\arb"/>
        <allow users="*"/>
        <allow users="bmi\bet"/>
        <allow roles="polarisind\elk1_SPECSYardMaster"/>
      </authorization>
    </system.web>
  </location>
  <location path="ReportAProblem.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="OverviewTubes.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
        <allow users="bmi\bfenster"/>
        <allow users="bmi\dgorbics"/>
        <allow users="bmi\arb"/>
        <allow users="bmi\jdn"/>
        <allow roles="polarisind\elk1_SPECSTubeAdmins"/>
      </authorization>
    </system.web>
  </location>
  <location path="CenterTubeSchedulePrint.aspx">
    <system.web>
      <authorization>
        <allow roles="polarisind\elk1_SPECSTubeAdmins"/>
      </authorization>
    </system.web>
  </location>
  <location path="TubeSchedulePrint.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\dbg"/>
        <allow users="bmi\bfenster"/>
        <allow roles="polarisind\elk1_SPECSTubeAdmins"/>
      </authorization>
    </system.web>
  </location>
  <location path="Overview-RO-South.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Gauges.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\helm1"/>
        <allow users="bmi\jdn"/>
        <allow users="bmi\jsparks"/>
        <allow roles="polarisind\elk1_SPECSBCGauges"/>
        <allow users="polarisind\dgirte"/>
      </authorization>
    </system.web>
  </location>
  <location path="Harnesses.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\helm1"/>
        <allow users="bmi\dhill"/>
        <allow users="bmi\options1"/>
        <allow users="bmi\jwerntz"/>
        <allow roles="polarisind\elk1_SPECSBCHarnesses"/>
        <allow roles="polarisind\elk1_specsbcharnesses"/>
      </authorization>
    </system.web>
  </location>
  <location path="Gauges-RO.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\jdn"/>
        <allow users="bmi\krt"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Harnesses-RO.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\krt,bmi\jdn"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="CentertubeSort.aspx">
    <system.web>
      <authorization>
        <allow roles="polarisind\elk1_SPECSTubeAdmins"/>
      </authorization>
    </system.web>
  </location>
  <location path="SwitchBldgs.aspx">
    <system.web>
      <authorization>
        <allow roles="polarisind\elk1_SPECSBringOnline"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="RailsPrep-ByProd.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\rails1"/>
        <allow users="bmi\rails2"/>
        <allow users="bmi\mjones"/>
        <allow roles="polarisind\elk1_SPECSRails"/>
      </authorization>
    </system.web>
  </location>
  <location path="Kitting1.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\mszabo"/>
        <allow users="bmi\options1"/>
        <allow roles="polarisind\elk1_SPECSOptions"/>
      </authorization>
    </system.web>
  </location>
  <location path="OverviewKitting.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\options1"/>
        <allow users="*"/>
        <allow roles="polarisind\elk1_SPECSOptions"/>
        <allow roles="polarisind\elk1_SPECSKitting"/>
      </authorization>
    </system.web>
  </location>
  <location path="LoadSchedule.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="LoadScheduling.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\tderyder"/>
        <allow users="bmi\btrosper"/>
        <allow users="bmi\tleitz"/>
        <allow users="bmi\khamell"/>
        <allow roles="polarisind\elk1_SPECSLoadScheduling"/>
      </authorization>
    </system.web>
  </location>
  <location path="EditLoadSchedule.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\btrosper"/>
        <allow users="bmi\arb"/>
        <allow users="bmi\bet"/>
        <allow users="bmi\khamell"/>
        <allow roles="polarisind\elk1_SPECSLoadScheduleEdit"/>
      </authorization>
    </system.web>
  </location>
	<location path="EditOuterSchedule.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
  <location path="Kitting2.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\kitting2"/>
        <allow users="bmi\mszabo"/>
        <allow roles="polarisind\elk1_SPECSKitting"/>
      </authorization>
    </system.web>
  </location>
  <location path="Kitting3.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\kitting3"/>
        <allow users="bmi\mszabo"/>
        <allow roles="polarisind\elk1_SPECSKitting"/>
      </authorization>
    </system.web>
  </location>
  <location path="Customs.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\csmith"/>
        <allow users="bmi\jhary"/>
        <allow users="bmi\khamell"/>
        <allow roles="polarisind\elk1_SPECSCustoms"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Inventory.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
        <allow users="?"/>
        <allow users="bmi\arc"/>
      </authorization>
    </system.web>
  </location>
  <location path="Kitting4.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\kitting4"/>
        <allow roles="polarisind\elk1_SPECSKitting"/>
      </authorization>
    </system.web>
  </location>
  <location path="LoadBoats.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\tderyder"/>
        <allow users="bmi\btrosper"/>
        <allow users="bmi\khamell"/>
        <allow users="bmi\bet"/>
        <allow users="bmi\krimbaugh"/>
        <allow users="bmi\loader1"/>
        <allow users="bmi\tleitz"/>
        <allow users="bmi\kkraus"/>
        <allow users="bmi\jgarber"/>
        <allow users="bmi\shipping1"/>
        <allow users="bmi\cbateson"/>
        <allow roles="polarisind\elk1_SPECSYardMaster"/>
      </authorization>
    </system.web>
  </location>
  <location path="RailsPrepQX.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\final1"/>
        <allow users="bmi\cgirten"/>
        <allow users="bmi\furniture4"/>
        <allow users="bmi\jmartin"/>
        <allow users="bmi\bmagyar"/>
        <allow users="bmi\hgirten"/>
        <allow users="bmi\final2"/>
        <allow users="bmi\furniture4"/>
        <allow users="bmi\tleitz"/>
        <allow users="bmi\jhall"/>
        <allow roles="polarisind\elk1_SPECSRailsPrepQX"/>
        <allow users="polarisind\bmagya"/>
      </authorization>
    </system.web>
  </location>
  <location path="PastDue.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\jdn"/>
        <allow users="bmi\tleitz"/>
        <allow users="bmi\arb"/>
        <allow users="*"/>
        <allow users="bmi\wavetamer1"/>
        <allow users="bmi\shrinkwrap1"/>
        <allow users="bmi\bmagyar"/>
        <allow users="bmi\ecarillo"/>
      </authorization>
    </system.web>
  </location>
  <location path="Links.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="OverviewByDate.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\jdn"/>
        <allow users="bmi\tleitz"/>
      </authorization>
    </system.web>
  </location>
  <location path="ArchTowers.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\jdn"/>
        <allow users="bmi\final1"/>
        <allow users="bmi\bmagyar"/>
        <allow users="bmi\salbert"/>
        <allow users="bmi\jmartin"/>
        <allow users="bmi\hgirten"/>
        <allow users="bmi\final2"/>
        <allow roles="polarisind\elk1_SPECSArchesTowers"/>
      </authorization>
    </system.web>
  </location>
  <location path="QFronts.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\jdn"/>
        <allow users="bmi\final1"/>
        <allow users="bmi\bmagyar"/>
        <allow users="bmi\cgirten"/>
        <allow users="polarisind\jspark"/>
        <allow users="bmi\final2"/>
        <allow users="bmi\jhall"/>
        <allow roles="polarisind\elk1_SPECSQFronts"/>
        <allow users="polarisind\rsuski"/>
      </authorization>
    </system.web>
  </location>
  <location path="Misc_Notes.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\final1"/>
        <allow users="bmi\shrinkwrap1"/>
        <allow users="bmi\tleitz"/>
        <allow users="bmi\jnafziger"/>
        <allow users="bmi\bmagyar"/>
        <allow users="bmi\abona"/>
        <allow users="bmi\mszabo"/>
        <allow roles="polarisind\elk1_SPECSMiscNotes"/>
      </authorization>
    </system.web>
  </location>
  <location path="FurniturePrepWLines.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\bgirten"/>
        <allow users="bmi\furniture1"/>
        <allow users="bmi\furniture2"/>
        <allow users="bmi\furniture4"/>
        <allow users="bmi\sthorold"/>
        <allow users="bmi\eburch"/>
        <allow users="bmi\bmagyar"/>
        <allow users="bmi\amccollough"/>
        <allow roles="polarisind\elk1_SPECSFurniture"/>
      </authorization>
    </system.web>
  </location>
  <location path="LoadsEstDeliveryDates.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\loader1"/>
        <allow users="bmi\bet"/>
        <allow users="bmi\nmccraner"/>
        <allow users="bmi\aharper"/>
        <allow roles="polarisind\elk1_SPECSEstDeliveryDates"/>
      </authorization>
    </system.web>
  </location>
  <location path="RailsPrepTest.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\mjones"/>
        <allow users="bmi\rails1"/>
        <allow users="bmi\rails2"/>
        <allow users="bmi\tleitz"/>
        <allow users="bmi\mszabo"/>
        <allow users="bmi\rails5"/>
        <allow users="bmi\rails3"/>
        <allow roles="polarisind\elk1_SPECSRails"/>
        <allow roles="polarisind\elk1_specsrails"/>
      </authorization>
    </system.web>
  </location>
  <location path="RailsPrepRO.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ReportCard.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\tleitz"/>
        <allow users="bmi\abona"/>
        <allow users="bmi\jnafziger"/>
        <allow users="bmi\mjones"/>
        <allow users="bmi\abona"/>
        <allow users="bmi\dgorbics"/>
        <allow users="bmi\skantz"/>
        <allow users="bmi\aweiss"/>
        <allow users="bmi\rails3"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Swingbacks.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\furniture3"/>
        <allow users="bmi\arb"/>
        <allow roles="polarisind\elk1_SPECSSwingbacks"/>
        <allow users="polarisind\dsmith"/>
      </authorization>
    </system.web>
  </location>
  <location path="FurnitureHardware.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\furniture5"/>
        <allow roles="polarisind\elk1_SPECSFurnitureHardware"/>
        <allow users="Polarisind\jromer"/>
      </authorization>
    </system.web>
  </location>
  <location path="LoadBoatsSetPriority.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\tderyder"/>
        <allow users="bmi\bet"/>
        <allow users="bmi\btrosper"/>
        <allow users="bmi\tleitz"/>
        <allow users="bmi\loader1"/>
        <allow roles="polarisind\elk1_SPECSYardMaster"/>
      </authorization>
    </system.web>
  </location>
  <location path="FurnitureLocations.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\eburch"/>
        <allow users="bmi\furniture1"/>
        <allow users="bmi\sthorold"/>
        <allow users="bmi\abona"/>
        <allow users="bmi\furniture3"/>
        <allow users="bmi\furniture2"/>
        <allow users="bmi\furniture6"/>
        <allow users="bmi\furniture5"/>
        <allow roles="polarisind\elk1_SpecsFurniture"/>
        <allow roles="polarisind\elk1_SPECSFurnitureHardware"/>
      </authorization>
    </system.web>
  </location>
  <location path="BiminiRcv.aspx">
    <system.web>
      <authorization>
        <allow roles="polarisind\elk1_specsbiminis"/>
        <allow users="polarisind\dszabo"/>
      </authorization>
    </system.web>
  </location>
  <location path="LoadScheduleBiminis.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\kkrause"/>
        <allow users="bmi\bet"/>
        <allow users="bmi\bimini1"/>
        <allow users="bmi\jnafziger"/>
        <allow users="bmi\jdn"/>
        <allow users="bmi\tumacs"/>
        <allow roles="polarisind\elk1_SPECSYardMaster"/>
        <allow roles="polarisind\elk1_SPECSBiminis"/>
        <allow roles="bmi\SPECSYardMaster"/>
        <allow roles="bmi\sPECSBiminis"/>
        <allow users="polarisind\kengel"/>
      </authorization>
    </system.web>
  </location>
  <location path="LoadScheduleBiminisWRcv.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\kkraus"/>
        <allow users="bmi\btrosper"/>
        <allow users="bmi\jdn"/>
        <allow users="bmi\arb"/>
        <allow roles="bmi\loader1"/>
        <allow users="bmi\shipping1"/>
        <allow roles="polarisind\elk1_sPECSBiminis"/>
      </authorization>
    </system.web>
  </location>
  <location path="test.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\eshort"/>
        <allow users="bmi\dgorbics"/>
        <allow users="bmi\tleitz"/>
      </authorization>
    </system.web>
  </location>
  <location path="FurnitureMap.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FurnitureOnlineIssues.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\jdn"/>
        <allow users="bmi\tleitz"/>
        <allow users="bmi\arb"/>
        <allow users="bmi\sthorold"/>
        <allow users="bmi\furniture7"/>
        <allow users="bmi\amccollough"/>
        <allow roles="polarisind\elk1_SPECSFurniture"/>
      </authorization>
    </system.web>
  </location>
  <location path="EngineAllocations.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ICMemos.aspx">
    <system.web>
      <authorization>
        <allow users="polarisind\wreplo"/>
        <allow users="polarisind\jnafzi"/>
        <allow roles="polarisind\elk1_SPECSMaterials"/>
        <allow users="polarisind\rsutte"/>
        <allow users="polarisind\dszabo"/>
        <allow users="polarisind\KeBrinks"/>
        <allow users="polarisind\readkins"/>
      </authorization>
    </system.web>
  </location>
  <location path="memo.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\mszabo"/>
        <allow users="bmi\jnafziger"/>
        <allow users="bmi\abona"/>
        <allow users="bmi\options1"/>
        <allow users="bmi\jwerntz"/>
        <allow users="bmi\cgirten"/>
        <allow users="bmi\jmartin"/>
        <allow roles="polarisind\elk1_SPECSOptions"/>
        <allow roles="polarisind\elk1_SPECSMaterials"/>
        <allow roles="bmi\krbruens"/>
        <allow users="polarisind\jspark"/>
        <allow roles="polarisind\elk1_specsoptions"/>
        <allow roles="polarisind\elk1_specsmaterials"/>
        <allow users="polarisind\dgirte"/>
        <allow users="polarisind\ncreed"/>
        <allow users="polarisind\bhochs"/>
        <allow users="polarisind\sleeva"/>
      </authorization>
    </system.web>
  </location>
  <location path="ICMemosRO.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FurnitureInternalRGA.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\bgirten"/>
        <allow users="bmi\furniture1"/>
        <allow users="bmi\furniture2"/>
        <allow users="bmi\furniture4"/>
        <allow users="bmi\eburch"/>
        <allow users="bmi\sthorold"/>
        <allow roles="polarisind\elk1_SPECSFurniture"/>
      </authorization>
    </system.web>
  </location>
  <location path="FurnitureInternalRGAs.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\furniture7"/>
      </authorization>
    </system.web>
  </location>
  <location path="SouthMap.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="OpenOrders.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="HotList.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
        <allow users="bmi\jnafziger"/>
        <allow users="bmi\lfish"/>
        <allow users="bmi\skantz"/>
        <allow users="bmi\bsager"/>
        <allow users="bmi\khamell"/>
      </authorization>
    </system.web>
  </location>
  <location path="Ladders.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\mszabo"/>
        <allow users="bmi\tleitz"/>
        <allow users="bmi\furniture8"/>
        <allow roles="polarisind\elk1_SPECSLadders"/>
        <allow users="polarisind\specsfurn6"/>
        <allow users="polarisind\ispecsfurn1"/>
      </authorization>
    </system.web>
  </location>
  <location path="LadderRepairsReorders.aspx">
    <system.web>
      <authorization>
        <allow users="polarisind\specsfurn6"/>
        <allow users="bmi\tleitz"/>
        <allow users="bmi\mszabo"/>
        <allow roles="polarisind\elk1_SPECSRailsAdmins"/>
        <allow users="polarisind\sthoro"/>
        <allow users="polarisind/specskit2"/>
      </authorization>
    </system.web>
  </location>
  <location path="FramesOuters.aspx">
    <system.webServer>
      <security>
        <authorization>
          <add accessType="Allow" users="bmi\frames1"/>
        </authorization>
      </security>
    </system.webServer>
    <system.web>
      <authorization>
        <allow roles="polarisind\elk1_SPECSFrames"/>
        <allow roles="polarisind\elk1_SPECSTubeAdmins"/>
      </authorization>
    </system.web>
  </location>
  <location path="FramesCenters.aspx">
    <system.web>
      <authorization>
        <allow roles="polarisind\elk1_SPECSFrames"/>
      </authorization>
    </system.web>
  </location>
  <location path="OverviewNotStarted.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Photos.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\gwyland"/>
        <allow users="bmi\final1"/>
        <allow users="bmi\shrinkwrap1"/>
        <allow users="bmi\final2"/>
        <allow roles="polarisind\elk1_SPECSPhotos"/>
      </authorization>
    </system.web>
  </location>
  <location path="ProdPics.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="KitReceiving.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\jwerntz"/>
        <allow users="bmi\mszabo"/>
        <allow roles="polarisind\elk1_sPECSMaterials"/>
        <allow roles="polarisind\elk1_specsmaterials"/>
      </authorization>
    </system.web>
  </location>
  <location path="KitReceivingRO.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FurniturePrepWLinesMain.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\furniture1"/>
        <allow users="bmi\furniture2"/>
        <allow users="bmi\furniture4"/>
        <allow users="bmi\bmagyar"/>
        <allow users="bmi\sthorold"/>
        <allow users="bmi\amccollough"/>
        <allow roles="polarisind\elk1_SPECSFurniture"/>
      </authorization>
    </system.web>
  </location>
  <location path="FurniturePrepWLinesSouth.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\furniture1"/>
        <allow users="bmi\furniture2"/>
        <allow users="bmi\furniture4"/>
        <allow users="bmi\bmagyar"/>
        <allow users="bmi\sthorold"/>
        <allow users="bmi\amccollough"/>
        <allow roles="polarisind\elk1_SPECSFurniture"/>
      </authorization>
    </system.web>
  </location>
  <location path="InventoryClearing.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\jnafziger"/>
        <allow users="bmi\tleitz"/>
        <allow users="bmi\dengle"/>
        <allow users="bmi\tmeier"/>
        <allow users="bmi\aroeder"/>
        <allow users="bmi\cspringman"/>
        <allow users="bmi\kneufeld"/>
        <allow users="bmi\wleichty"/>
        <allow users="bmi\kgildemeister"/>
        <allow users="bmi\jstockman"/>
        <allow users="bmi\asmith"/>
        <allow users="bmi\mblank"/>
        <allow users="bmi\sott"/>
        <allow users="bmi\jwarfel"/>
        <allow users="bmi\nzizzo"/>
        <allow users="bmi\bdonat"/>
        <allow users="bmi\mcook"/>
        <allow roles="polarisind\elk1_SPECSInvClearingAuditors"/>
        <allow roles="Polarisind\SPECSInvClearingAuditors"/>
        <allow users="polarisind\aroede"/>
      </authorization>
    </system.web>
  </location>
  <location path="InventoryClearingRequests.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\eparham"/>
        <allow users="bmi\tleitz"/>
        <allow users="bmi\dorlova"/>
        <allow roles="polarisind\elk1_SPECSInvClearingRequests"/>
        <allow users="polarisind\mbates"/>
        <allow users="polarisind\eparha"/>
        <allow users="polarisind\dorlov"/>
        <allow users="polarisind\asmith1"/>
      </authorization>
    </system.web>
  </location>
  <location path="LoadCompletions.aspx">
    <system.web>
      <authorization>
        <allow users="bmi\tleitz"/>
      </authorization>
    </system.web>
  </location>
  <location path="HistoryByBoat.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FiberglassInsp.aspx">
    <system.web>
      <authorization>
        <allow roles="polarisind\elk1_SPECSFGInspection"/>
        <allow users="polarisind\jritch1"/>
      </authorization>
    </system.web>
  </location>
  <location path="OrderDetailsFull.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="HotList.aspx.vb">
    <system.web>
      <authorization>
        <allow users="polarisind\kgray"/>
      </authorization>
    </system.web>
  </location>
  <location path="HotListProdNos.aspx">
    <system.web>
      <authorization>
        <allow users="polarisind\kgray"/>
        <allow users="polarisind\cbates"/>
      </authorization>
    </system.web>
  </location>
  <location path="MaintainHotList.aspx">
    <system.web>
      <authorization>
        <allow users="polarisind\kgray"/>
        <allow users="polarisind\cbates"/>
      </authorization>
    </system.web>
  </location>
  <location path="KittingSouth.aspx">
    <system.web>
      <authorization>
        <allow roles="Polarisind\elk1_SPECSMaterials"/>
      </authorization>
    </system.web>
  </location>
  <location path="ReworkTracking.aspx">
    <system.web>
      <authorization>
        <allow roles="Polarisind\elk1_SPECSInspections"/>
      </authorization>
    </system.web>
  </location>
  <location path="ReworkKeying.aspx">
    <system.web>
      <authorization>
        <allow roles="Polarisind\elk1_SPECSInspections"/>
        <allow users="polarisind\msmith"/>
      </authorization>
    </system.web>
  </location>
  <location path="SouthKitPartsList.aspx">
    <system.web>
      <authorization>
        <allow roles="Polarisind\Elk1_SPECSMaterials"/>
      </authorization>
    </system.web>
  </location>
  <location path="CycleCounting.aspx">
    <system.web>
      <authorization>
        <allow users="polarisind\shawki1"/>
        <allow users="polarisind\jwise"/>
      </authorization>
    </system.web>
  </location>
  <location path="FurnitureHwrMap.aspx">
    <system.web>
      <authorization>
        <allow roles="Polarisind\elk1_SPECSFurnitureHardware"/>
        <allow roles="" users="polarisind\solesa"/>
        <allow users="polarisind\lgallow"/>
        <allow users="polarisind\sthoro"/>
        <allow users="Polarisind\jromer"/>
      </authorization>
    </system.web>
  </location>
  <location path="PhyInvByAuditor.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="OverviewByDealer.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MaintainDlrRtnFromCovidDates.aspx">
    <system.web>
      <authorization>
        <allow users="Polarisind\cbates"/>
      </authorization>
    </system.web>
  </location>
  <location path="Test2.aspx">
    <system.web>
      <authorization>
        <allow users="polarisind\mszabo"/>
      </authorization>
    </system.web>
  </location>
  <location path="HoldList.aspx">
    <system.web>
      <authorization>
        <allow roles="polarisind\elk1_SPECSLoadScheduling"/>
        <allow users="polarisind\cbates"/>
      </authorization>
    </system.web>
  </location>
  <location path="PhyInvIssues.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FGRepairTV.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FGDelivery.aspx">
    <system.web>
      <authorization>
        <allow users="Polarisind\Bmagya"/>
        <allow users="polarisind\carmst"/>
        <allow users="polarisind\cvande"/>
        <allow roles="polarisind\elk1_specsfiberglassdelivery"/>
        <allow users="polarisind\jritch1"/>
        <allow users="polarisind\hkantz"/>
        <allow users="polarisind\rjacks"/>
        <allow users="Polarisind\specsinsp1"/>
      </authorization>
    </system.web>
  </location>
  <location path="HelmKittingTV.aspx">
    <system.web>
      <authorization>
        <allow users="polarisind\dgirte"/>
        <allow users="polarisind\mszabo"/>
        <allow users="polarisind\jspark"/>
        <allow roles="polarisind\elk1_specshelmkitting"/>
        <allow users="polarisind\ncreed"/>
      </authorization>
    </system.web>
  </location>
  <location path="Kitting2TV.aspx">
    <system.web>
      <authorization>
        <allow roles="polarisind\elk1_SPECSKitting"/>
      </authorization>
    </system.web>
  </location>
  <location path="Kitting3TV.aspx">
    <system.web>
      <authorization>
        <allow roles="Polarisind\elk1_SPECSKitting"/>
      </authorization>
    </system.web>
  </location>
  <location path="Kitting4TV.aspx">
    <system.web>
      <authorization>
        <allow roles="Polarisind\elk1_SPECSKitting"/>
      </authorization>
    </system.web>
  </location>
  <location path="OverviewVeada.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="FurnitureHardwareSouth.aspx">
    <system.web>
      <authorization>
        <allow users="polarisind\jromer"/>
        <allow users="polarisind\specsfurn2"/>
      </authorization>
    </system.web>
  </location>
  <location path="FurnitureHwrMapSouth.aspx">
    <system.web>
      <authorization>
        <allow users="polarisind\jromer"/>
      </authorization>
    </system.web>
  </location>
  <location path="SwingbackRails.aspx">
    <system.web>
      <authorization>
        <allow users="polarisind\sthoro"/>
        <allow users="polarisind\specsfin1"/>
        <allow users="polarisind\specsfurn6"/>
      </authorization>
    </system.web>
  </location>
  <location path="SwingbacksSouth.aspx">
    <system.web>
      <authorization>
        <allow roles="Polarisind\elk1_SPECSFurniture"/>
      </authorization>
    </system.web>
  </location>
  <location path="AllocationsShrinked.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="HelmKittingMap.aspx">
    <system.web>
      <authorization>
        <allow roles="polarisind\elk1_specshelmkitting"/>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="InventoryReportReady.aspx">
    <system.web>
      <authorization>
        <allow roles="polarisind\rsutte"/>
        <allow roles="" users="polarisind\mdlehker"/>
        <allow users="polarisind\kbiermak"/>
      </authorization>
    </system.web>
  </location>
  <location path="HelmKittingMapTest.aspx">
    <system.web>
      <authorization>
        <allow users="polarisind\jspark"/>
        <allow users="polarisind\solesa"/>
      </authorization>
    </system.web>
  </location>
</configuration>