<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow users="Polarisind\BCUMMI" />
        </authorization>
    </system.web>
    <location path="CatalogMaint.aspx">
        <system.web>
            <authorization>
                <allow users="polarisind\bsager" />
            </authorization>
        </system.web>
    </location>
    <location path="AvailableImages.aspx">
        <system.web>
            <authorization>
                <allow users="polarisind\bsager" />
                <allow users="polarisind\bmagya" />
            </authorization>
        </system.web>
    </location>
</configuration>
