<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="Polarisind\elk1_SPECSFurnPOGen" />
        </authorization>
    </system.web>
    <location path="POGeneration.aspx">
        <system.web>
            <authorization>
                <allow roles="BMI\SPECSFurnPoGen" />
            </authorization>
        </system.web>
    </location>
    <location path="FurnitureOpenOrders.aspx">
        <system.web>
            <authorization>
                <allow users="polarisind\bsager" />
                <allow users="polarisind\bmagya" />
            </authorization>
        </system.web>
    </location>
</configuration>
