<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="polarisind\elk1_SPECSFiberglass" />
            <allow roles="polarisind\elk1_SPECSFiberglassDelivery" />
        </authorization>
    </system.web>
    <location path="Trucks.aspx">
        <system.web>
            <authorization>
                <allow users="polarisind\rjacks" />
                <allow users="polarisind\carmst" />
            </authorization>
        </system.web>
    </location>
</configuration>
