<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow users="polarisind\spenic" />
            <allow users="polarisind\lfish" />
            <allow users="polarisind\ecarbe" />
            <allow roles="Polarisind\elk1_SPECSTempTakers" />
        </authorization>
    </system.web>
    <location path="TempTracker.aspx">
        <system.web>
            <authorization>
                <allow users="polarisind\specstmp1" />
            </authorization>
        </system.web>
    </location>
</configuration>
