<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="Seamer.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\elk1_SPECSBCTubesSeamer" />
            </authorization>
        </system.web>
    </location>
    <location path="Baffles.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\elk1_SPECSBCTubesBaffles" />
            </authorization>
        </system.web>
    </location>
    <location path="RoundSeamer.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\elk1_SPECSBCTubesRoundSeamer" />
            </authorization>
        </system.web>
    </location>
    <location path="Brackets.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\elk1_SPECSBCTubesBrackets" />
            </authorization>
        </system.web>
    </location>
    <location path="FinalOuters.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\elk1_SPECSBCTubesOuters" />
            </authorization>
        </system.web>
    </location>
    <location path="Aircheck.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\elk1_SPECSBCTubesAircheck" />
            </authorization>
        </system.web>
    </location>
    <location path="Aircheck2.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\elk1_SPECSBCTubesAircheck2" />
            </authorization>
        </system.web>
    </location>
    <location path="Repair1.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\elk1_SPECSBCTubesRepair1" />
            </authorization>
        </system.web>
    </location>
    <location path="Repair2.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\elk1_SPECSBCTubesRepair2" />
            </authorization>
        </system.web>
    </location>
    <location path="Chines.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\elk1_SPECSBCTubesChines" />
            </authorization>
        </system.web>
    </location>
    <location path="Transom.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\elk1_SPECSBCTubesTransom" />
            </authorization>
        </system.web>
    </location>
    <location path="Audit.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\elk1_SPECSBCTubesAudit" />
            </authorization>
        </system.web>
    </location>
    <location path="FinalCenters.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\elk1_SPECSBCTubesCenters" />
            </authorization>
        </system.web>
    </location>
    <location path="Outers.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\elk1_SPECSBCTubesOuters" />
            </authorization>
        </system.web>
    </location>
    <location path="PhyInvTubeInfo.aspx">
        <system.web>
            <authorization>
                <allow users="Polarisind\mdefra" />
                <allow users="Polarisind\ahenni" />
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
</configuration>
