<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="GaugesRcv.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\elk1_SPECSBCGauges" />
            </authorization>
        </system.web>
    </location>
    <location path="Kitting2.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\elk1_SPECSBCKitting" />
            </authorization>
        </system.web>
    </location>
    <location path="HarnessRcv.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\elk1_SPECSBCHarnesses" />
                <allow users="polarisind\specshelm3" />
            </authorization>
        </system.web>
    </location>
    <location path="Canvas.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\mmcque" />
            </authorization>
        </system.web>
    </location>
    <location path="EngineInvDataCollection.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\elk1_SPECSBCEngines" />
            </authorization>
        </system.web>
    </location>
    <location path="Kitting3.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\elk1_SPECSBCKitting" />
            </authorization>
        </system.web>
    </location>
    <location path="EngineLabels.aspx">
        <system.web>
            <authorization>
                <allow roles="Polarisind\elk1_SPECSBCEngines" />
                <allow roles="Polarisind\Elk1_SPECSMaterials" />
            </authorization>
        </system.web>
    </location>
    <location path="HelmBuildComp.aspx">
        <system.web>
            <authorization>
                <allow users="polarisind\specsfin1" />
            </authorization>
        </system.web>
    </location>
    <location path="HelmShip.aspx">
        <system.web>
            <authorization>
                <allow roles="polarisind\specshelm3" />
            </authorization>
        </system.web>
    </location>
    <location path="HelmRcv.aspx">
        <system.web>
            <authorization>
                <allow users="polarisind\specshelm3" />
            </authorization>
        </system.web>
    </location>
</configuration>
